@charset "utf-8";
@import "reboot.css";

html {
	overflow-y: scroll;
	font-size: 62.5%;
}


_:lang(x)::-internal-media-controls-overlay-cast-button, body {
 image-rendering: -webkit-optimize-contrast;
}

h1, h2, h3, h4, h5, strong, b, nav, .date {
	font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, "メイリオ", Meiryo, sans-serif;
	font-weight: 600;
}

img {
	width: 100%;
}

h2 {
	width: 500px;
	border-bottom: 6px double #fff;
	margin: 0 auto;
	margin-bottom: 50px;
}

body {
	color: #575757;
	font-size: 1.6rem;
	font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic, "メイリオ", Meiryo, sans-serif;
	font-weight: 500;
	line-height: 2;
	text-align: center;
	width: 100%;
	min-width: 1200px;
	margin: 0 auto;
	background-image:url("/img/top-preimg2.jpg");
	background-size:cover;
}

.container{
  width: 100%;
  padding: 0;
  margin: auto;
	margin-bottom:50px
}

.top-wrapper{
  padding-top:75px;
  padding-bottom:50px;
  color:#575757;
}

.w30 {
	width: 30% !important;
}

/* header */
header {
	width: 100%;
	margin: 0 auto;
	padding: 0;
	align-items: center;
}
header h1 {
	margin: 0 auto;
	padding-bottom: 20px;
}

/* nav */
nav {
	width: 100%;
	padding:20px;
	background-color: #fff;
}

nav li{
	margin: auto!important;
	padding:auto;
	margin: 0px 40px 0px 0px;
	font-size: 20px;
}

/*ナビゲーションを横並びに*/
nav ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
	margin: 0px;
	padding: 0px;
}

a:link, a:visited {
	color: #575757;
	text-decoration: none;
}
a:active, a:hover {
	color: #09449d;
	text-decoration: none;
	opacity: .6;
	transition: all 0.5s ease;
}
a:focus {
	outline: none;
}

.profile-wrapper {
	display: flex;
	margin-left: 10%;
}

/* table */
table {
	padding: 0;
	margin: 25px auto;
	table-layout: fixed;
	border-collapse: separate;
	border-spacing: 1px;
}
table th {
	padding: 7px 10px 5px;
	text-align: left;
	background-color: #1f2f54;
	border: none;
	font-weight: 900;
	color: #fff;
}
table td {
	padding: 7px 10px 5px;
	border: 1px solid #1f2f54;
}

/* figure */
figure {
	margin: 20px 45px;
}

/* topics */
.topics li {
	list-style: none;
	margin: 0 0 10px;
	padding: 15px 15px 15px 42px;
	line-height: 1.5;
	background-color: #fff
}

.topics-wrapper {
  width: 1200px;
	margin: 0 auto 20px;
}


/*footer部分*/
#contactWrapper {
	width: 100%;
}
#contact {
	width: 100%;
	margin: 0 auto;
	padding: 25px 0;
	font-size: 1.5rem;
	line-height: 1.6;
	background: #1f2f54;
	text-align: center;
	border-top: 5px solid #1f2f54;
	color: #fff;
}
footer {
	width: 100%;
	margin: 0;
	padding: 5px 0;
	text-align: center;
	font-size: 1.4rem;
	color: #fff;
	background: #1f2f54;
}
/* ページトップへ戻る */
#page-top {
	display: block;
	position: fixed;
	z-index: 9999;
	bottom: 10px;
	right: 10px;
	width: 70px;
	height: 45px;
	padding: 15px 10px 10px;
	background: #000;
	color: #fff;
	text-align: center;
	text-decoration: none;
	font-size: 20px;
	line-height: 20px;
	clear: both;
	opacity: .7;
}
#page-top:hover {
	opacity: .8;
}
.arrow {
	position: absolute;
	width: 20px;
	height: 20px;
	border: 2px solid #000;
	border-left-color: #fff;
	border-top-color: #fff;
	top: 20px;
	left: 26px;
	transform: rotate(45deg);
}
@media print {
#page-top {
	display: none;
}
}
