@charset "utf-8";

html {
  overflow-y: scroll;
  font-size: 62.5%;
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

@-ms-viewport {
  width: device-width;
}

*{
  box-sizing:border-box;
}

_:lang(x)::-internal-media-controls-overlay-cast-button, body {
 image-rendering: -webkit-optimize-contrast;
}

h1, h2, h3, h4, h5, strong, b, nav, .date {
	font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, "メイリオ", Meiryo, sans-serif;
	font-weight: 600;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

img {
	width: 100%;
}

h2 {
	width: 500px;
	border-bottom: 6px double #fff;
	margin: 0 auto;
	margin-bottom: 50px;
}

body {
	color: #575757;
	font-size: 1.6rem;
	font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic, "メイリオ", Meiryo, sans-serif;
	font-weight: 500;
	line-height: 2;
	text-align: center;
	width: 100%;
	margin: 0 auto;
	background-image:url("/img/top-preimg2.jpg");
	background-size:cover;
  min-height: 100vh;
    position: relative;
    padding-bottom: 138px;
    box-sizing: border-box;
}

.container{
  width: 100%;
  padding: 0;
  margin: auto;
	margin-bottom:50px
}

.top-wrapper{
  padding-top: 0;
  padding-bottom: 50px;
  color:#575757;
}

.w30 {
	width: 30% !important;
}

/* header */
header {
	width: 100%;
	margin: 0 auto;
	padding: 0;
	align-items: center;
}
header h1 {
	margin: 0 auto;
	padding: 20px 0 20px 0;
	text-shadow: 1px 2px 3px #808080;
}

header h1 span {
	color:#1f2f54e4;
}

.top-band {
	width: 100%;
	color:#fff;
	background-color: #1f2f54e4;
	text-align: left;
	padding: 0px 0px 0px 150px;
	display:flex;
	height: 30px;
	min-width: 0;
}

.lang {
	margin-left: 70%;
}

/* nav */
nav {
	width: 100%;
	padding:20px;
	background-color: #1f2f54e4;
}

nav li{
	margin: auto!important;
	padding:auto;
	margin: 0px 40px 0px 0px;
	font-size: 20px;
}

/*ナビゲーションを横並びに*/
nav ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
	margin: 0px;
	padding: 0px;
}

a:link, a:visited {
	color: #fff;
	text-decoration: none;
}
a:active, a:hover {
	color: #D3D3D3;
	text-decoration: none;
	opacity: .6;
	transition: all 0.5s ease;
}
a:focus {
	outline: none;
}

.profile-wrapper {
	display: flex;
	margin-left: 10%;
}

/* table */
table {
	padding: 0;
	margin: 25px auto;
	table-layout: fixed;
	border-collapse: separate;
	border-spacing: 1px;
}
table th {
	padding: 7px 10px 5px;
	text-align: left;
	background-color: #1f2f54;
	border: none;
	font-weight: 900;
	color: #fff;
}
table td {
	padding: 7px 10px 5px;
	border: 1px solid #1f2f54;
}

/* figure */
figure {
	margin: 20px 45px;
}


/* topics */
.topics li {
	list-style: none;
	margin: 0 0 10px;
	padding: 25px 15px 15px 42px;
	line-height: 1.5;
	background-color: #fff;
	text-align: left;
}

.topics-wrapper {
  width: 900px;
	height: 250px;
	margin: 0 auto 20px;
	overflow:auto;
}


/*footer部分*/
.contact {
	padding: 25px 0;
	font-size: 1.5rem;

}

footer {
	width: 100%;
	margin: 0;
	text-align: center;
	font-size: 1.4rem;
	color: #fff;
	background: #1f2f54;
	position: absolute;
    bottom: 0;
}

/* ページトップへ戻る */
#page-top {
	display: block;
	position: fixed;
	z-index: 9999;
	bottom: 10px;
	right: 10px;
	width: 70px;
	height: 45px;
	padding: 15px 10px 10px;
	background: #000;
	color: #fff;
	text-align: center;
	text-decoration: none;
	font-size: 20px;
	line-height: 20px;
	clear: both;
	opacity: .7;
}
#page-top:hover {
	opacity: .8;
}
.arrow {
	position: absolute;
	width: 20px;
	height: 20px;
	border: 2px solid #000;
	border-left-color: #fff;
	border-top-color: #fff;
	top: 20px;
	left: 26px;
	transform: rotate(45deg);
}
@media print {
#page-top {
	display: none;
}
}


/* 論文ページ*/
.papers, .works, .presentation {
	margin: 35px 250px;
}

.papers h2, .works h2, .presentation h2 {
	margin-top:50px;
}

.papers p, .works p, .presentation p {
	text-align: left;
	margin-bottom: 50px;
}

/*建設中ページ*/
.under-construction {
	text-align: left;
	padding: 50px 0 0 100px;
	font-weight: bold;
	font-size: 30px;
}
